<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Elokuva" connectionString="Data Source=mysql.labranet.jamk.fi;Initial Catalog=F7347;Persist Security Info=True;User ID=F7347;Password=NhmA9QN6RfGAn61kT4syaMWR3YacM3WP" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>